<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacts</title>
  <style>
    table { width: 100%; border-collapse: collapse; }
    th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
    th { background-color: #f2f2f2; }
  </style>
</head>
<body>
  <h1>Message List</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <% contacts.forEach(contact => { %>
        <tr>
          <td><%= contact.id %></td>
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
          <td><%= contact.message %></td>
          <td><%= contact.created_at %></td>
    <td>
      <button onclick="deleteMessage(<%= contact.id %>)">Delete</button>
    </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<script>
  function deleteMessage(id) {
    fetch(`/delete/${id}`, {
      method: "DELETE",
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data.message);
        if (data.message === "Message deleted successfully") {
          location.reload(); // Reload the page to update the list
        }
      })
      .catch((error) => console.error("Error:", error));
  }
</script>

</body>
</html>
